@import '../../colors.scss';
.movie, .tv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    a {
        all: unset;
        width: 100%;
        .media {
            height: 97%;
            flex-direction: column;
            align-items: center;
            margin: 0.5em;
            padding: 1em;
            text-align: start;
            border: 1px solid $lightMovies;
            border-radius: 1em;
            background-color: $lightMovies;
            transition: all 0.5s;
            cursor: pointer;
            h4 {
                text-align: center;
            }
        }
        .media:hover {
            background-color: $lightestMovies;
        }
    }
    .notFound {
        color: $darkestMovies;
    }
}
@media (min-width: 576px) {
    .movie, .tv {
        a {
            .media {
                flex-direction: row;
                align-items: flex-start;
            }
        }
    }
}

@media (min-width: 768px)  {
    .movie, .tv {
        a {
            width: 50%;  
            .media {
                flex-direction: column;
                align-items: center;
            }        
        }
    }
}
@media (min-width: 1024px)  {
    .movie, .tv {
        a {
            .media {
                flex-direction: row;
                align-items: flex-start;
            }
        }
    }
}
.tv {
    background-color: white;
    a {
        .media {
            background-color: $lightSeries;
            border: 1px solid $lightSeries;
        }
        .media:hover {
            background-color: $lightestSeries;
        }
    }
    .notFound {
        color: $darkestSeries;
    }
}
.notFound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        margin: 1em;
    }
}