@import '../../colors.scss';
.detailedSeries {
    background-color: $darkSeries;
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 1em;
        .leftHeader {
            padding: 1em;
            width: 35%;
            border: 1px solid $darkestSeries;
            border-radius: 1em;
            background-color: $lightSeries;
        }
        .rightHeader {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 1em;
            text-align: start;
            width: 35%;
            border: 1px solid $darkestSeries;
            border-radius: 1em;        
            background-color: $lightSeries;
            span {
                font-size: 2em;
            }
        }
    }
    main {
        display: flex;
        flex-direction: column;
        padding: 1em;
        text-align: start;
        h6 {
            color: $lightestSeries;
        }
        p {
            border: 1px solid $darkestSeries;
            border-radius: 1em;        
            background-color: $lightSeries;
            padding: 1em;
        }
        ul {
            list-style: none;
            border: 1px solid $darkestSeries;
            border-radius: 1em;        
            background-color: $lightSeries;
            padding: 1em;
        }
    }
    footer {
        display: flex;
        flex-direction: column;
        padding: 1em;
        h4 {
            color: $lightestSeries;
        }
        .recommendations {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            a {
                all: unset;
                margin: 0.5em;
                padding: 1em;
                border: 1px solid $darkestSeries;
                border-radius: 1em;        
                background-color: $lightSeries;
                width: 15%;
            }
            a:hover {
                background-color: $lightestSeries;
            }
        }
    }
}
