@import '../../colors.scss';
.detailedSeries {
    background-color: $darkSeries;
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 1em;
        width: 100%;
        .leftHeader {
            padding: 1em;
            border: 1px solid $darkestSeries;
            border-radius: 1em;
            background-color: $lightSeries;
        }
        .rightHeader {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 1em;
            margin-top: 1em;
            text-align: start;
            border: 1px solid $darkestSeries;
            border-radius: 1em;        
            background-color: $lightSeries;
            span {
                font-size: 2em;
            }
        }
    }
    main {
        display: flex;
        flex-direction: column;
        padding: 1em;
        text-align: start;
        width: 100%;
        h6 {
            color: $lightestSeries;
        }
        p {
            border: 1px solid $darkestSeries;
            border-radius: 1em;        
            background-color: $lightSeries;
            padding: 1em;
        }
    }
    main > ul {
        list-style: none;
        border: 1px solid $darkestSeries;
        border-radius: 1em;        
        background-color: $lightSeries;
        padding: 1em;
    }
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;
        width: 100%;
        h4 {
            color: $lightestSeries;
        }
        .recommendations {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            a {
                all: unset;
                margin: 0.5em;
                padding: 1em;
                border: 1px solid $darkestSeries;
                border-radius: 1em;        
                background-color: $lightSeries;                
                max-width: 234px;
                height: 364px;
                h6 {
                    max-width: 200px;
                }
            }
            a:hover {
                background-color: $lightestSeries;
            }
        }
    }
}

@media (min-width: 576px) {
    .detailedSeries {
        header {
            flex-direction: row;
            .leftHeader, .rightHeader {
                width: 45%;
                margin-top: 0;
            }
        }
        footer {
            .recommendations {
                flex-direction: row;
            }
        }
    }
}

@media (min-width: 1024px) {
    .detailedSeries {
        header {
            .leftHeader, .rightHeader {
                width: 40%;
            }
        }
    }
}